h1 {
    font-size: 2.0em;
    text-align: center;
    max-width: 500px;
    border: solid 3px #000;
}

.h1_set {
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}

div.left {
    text-align: left;
}

div.center {
    text-align: center;
}

div.right {
    text-align: right;
}

p.mb10 {
    margin-bottom: 10em;
}

.container {
    font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
    text-align: center;
    padding-top: 40px;
}

.btn-open {
    display: inline-block;
    width: 180px;
    height: 40px;
    text-align: center;
    background-color: #9ec34b;
    font-size: 16px;
    line-height: 52px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #9ec34b;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: auto;
}

.btn-open:after {
    width: 100%;
    height: 0;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #FFF;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: .2s;
    z-index: -1;
}

.btn-open:hover {
    color: #9ec34b;
}

.btn-open:hover:after {
    height: 240%;
    opacity: 1;
}

.btn-open:active:after {
    height: 340%;
    opacity: 1;
}