/* ====================================================================
	common
==================================================================== */
@charset "utf-8";
body, div, span, applet, object, iframe,
h1, h2, h3, h4, p, blockquote, pre,
a, address, em, font, img,strong, dl, dt, dd,
ol, ul, li, form, label, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td{
margin:0;
padding:0;
font-family: "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "sans-serif"
}

body{
  font-size:12px;
  color:#6c6d62;
  }

  input{
  color:#323333;
  }
  select{
  color:#323333;
  }

  a{
  text-decoration:underline;
  color:#6c6d62;
  }
  a:hover{
  text-decoration:none;
  color:#6c6d62;
  }

  ul,
  ol{
  list-style:none;
  }

  img{
  border:none;
  vertical-align:bottom;
  }

  ::placeholder{
  color:#adadad;
  }


/* ====================================================================
	header
==================================================================== */
header{
  position:relative;
  box-sizing:border-box;
  width:100%;
  z-index:5;
  background-color:#fff;
  }
  header .menu{
  position:relative;
  width:100%;
  height:72px;
  }
  header .menu h1{
  text-align: center;
  position:absolute;
  left:50%;
  margin-left:-642px;
  box-sizing:border-box;
  width:300px;
  border: solid 3px #000;
  }



  /* ====================================================================
    breadcrumb
  ==================================================================== */
  nav.breadcrumb{
  position:relative;
  z-index:3;
  width:100%;
  padding:10px 0 13px;
  background-color:#0be212;
  color:#fff;
  }
  nav.breadcrumb ul{
  box-sizing:border-box;
  margin:0 auto;
  font-size:0;
  }
  nav.breadcrumb li{
  display:inline-block;
  font-size:12px;
  }
  nav.breadcrumb li:not(:first-child)::before{
  content:">";
  margin:0 9px;

  }
  nav.breadcrumb a{
  color:#fff;
  }

  /* ====================================================================
    container
  ==================================================================== */
  .main{
  position:relative;
  z-index:4;
  width:100%;
  padding:60px 0;
  }
  .container{
  display:flex;
  flex-direction:row;
  margin:0 auto;
  }
  .container.single{
  display:block;
  background-color:#b9d8ee;
  }

  /* ====================================================================
    left
  ==================================================================== */
  .left{
  align-self:stretch;
  box-sizing:border-box;
  width:260px;
  background-color:#fff;
  z-index:2;
  padding-bottom:40px;
  }

  /* ====================================================================
    right
  ==================================================================== */
  .right{
  align-self:stretch;
  box-sizing:border-box;
  z-index:1;
  }

  /* ====================================================================
    container resize
  ==================================================================== */
  @media screen and (max-width:807px){
    nav.breadcrumb ul{width:100%;}
    .container{width:100%;}
    .right{width:100%;}
    .main{padding:0;}
  }
  @media screen and (max-width:1147px) and (min-width:808px){
    nav.breadcrumb ul{width:790px;}
    .container{width:790px;}
    .right{width:530px;}

    header .menu h1{margin-left:-394px;width:300px;}
  }
  @media screen and (max-width:1579px) and (min-width:1148px){
    nav.breadcrumb ul{width:1035px;}
    .container{width:1035px;}
    .right{width:775px;}

    header .menu h1{margin-left:-519px;width:300px;}
  }
  @media screen and (min-width:1580px){
    nav.breadcrumb ul{width:1280px;}
    .container{width:1280px;}
    .right{width:1020px;}
  }

  /* ====================================================================
    sp
  ==================================================================== */
  @media screen and (max-width:807px){
  body{
  padding-top:15.6%;
  }
  .important-alert a,
  .security-alert a{
  display:block;
  font-size:3.3vw;
  }

  /* header -------------------------- */
  header{
  position:fixed;
  top:0;
  z-index:100;
  background-color:#fff;
  }
  header .menu{
    /* padding-top:15.2%; */
    height:auto;
  }

  header .menu h1{
    /* z-index:1; */
    text-align: center;
    position:absolute;
    left:0;
    margin-left:0;
    /* padding-top:4.1%; */
    /* width:100%; */
    width:300px;
    border: solid 3px #000;
    }

  /* breadcrumb -------------------------- */
  nav.breadcrumb{
  padding:4.1% 0;
  }
  nav.breadcrumb ul{
  margin:0;
  padding:0 4.1%;
  font-size:0;
  }
  nav.breadcrumb li{
  display:inline-block;
  white-space:nowrap;
  font-size:3.3vw;
  }
  nav.breadcrumb li:not(:first-child)::before{
  content:">";
  margin:0 1.25vw;
  }
  nav.breadcrumb a{
  color:#fff;
  }

  /* left -------------------------- */
  .left{
  position:fixed;
  top:0;
  left:-100%;
  align-self:stretch;
  box-sizing:border-box;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0);
  z-index:7;
  padding:15.2% 0 0;
  overflow:auto;
  /* transition:background .15s linear 0s; */
  }

  .right{
  position:relative;
  z-index:1;
  }

  }

  /* CSS Document */
/* ====================================================================
contents:article
==================================================================== */
article {
  line-height: 1.3;
  font-size: 14px;
  color: #1e1e1e;
}
article h2.ttl {
  /* height: 0; */
  padding-top: 53px;
  margin: 0 30px;
  border-bottom: solid 2px #65696a;
  /* overflow: hidden; */
}

article h2.ttl.pw-generator {
  font-size: 30px
  /* background-size: auto 28px; */
}

article > p {
  margin: 0 30px;
}
article > p.lead {
  margin-top: 27px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
article > p.lead strong {
  color: #e9520a;
}
article > p.lead.important {
  color: #0aa0d2;
}

br.sp {
  display: none;
}

.contents {
  margin: 24px 30px 0;
  padding: 30px;
  background-color: #fff;
}
.contents p {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.contents p strong {
  color: #e9520a;
}
.contents p + ul {
  margin-top: 10px;
}
.contents p + p {
  margin-top: 10px;
}
.contents p.inquiry-link {
  text-align: center;
}
.contents p.inquiry-link a {
  color: #0aa0d2;
}
.contents p.lead {
  line-height: 1.3;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #0aa0d2;
}
.contents p.lead span {
  margin-top: 4px;
  line-height: 1.3;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: #000;
}
.contents p.lead.important strong {
  color: #0aa0d2;
}
.contents .error {
  color: #e9520a;
}
.contents .mail-address {
  padding-bottom: 15px;
  border-bottom: solid 1px #95989a;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #e9520a;
}
.contents .confirm + p {
  margin-top: 20px;
}
.contents .confirm + p + ul {
  margin-top: 10px;
}
h2 + .contents {
  margin: 24px 30px 0;
}
dl.login-form {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  margin: 20px auto 0;
  line-height: 1.6;
}
dl.login-form dt {
  width: 180px;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
  color: #14aae5;
  display: flex;
}
dl.login-form dt ul {
  display: flex;
  align-items: flex-start;
  margin-left: 4px;
  padding-top: 3px;
}
dl.login-form dt ul .necessary {
  background-color: #e9520a;
}
dl.login-form dd + dt {
  margin-top: 20px;
}
dl.login-form dd + dt + dd {
  margin-top: 20px;
}
dl.login-form dd {
  width: 300px;
  padding: 0;
}
dl.login-form dd input {
  width: 100%;
  height: 25px;
  box-sizing: border-box;
  text-indent: 6px;
}
dl.login-form dd .error {
  font-size: 11px;
  font-weight: bold;
}
dl.login-form:first-child {
  margin-top: 0;
}

.inline-modal {
  display: block;
}

/* ====================================================================
btn
==================================================================== */

 .btn {
  margin: 0 10px;
}
.btn {
  width: 480px;
  margin: 0 auto;
  /* white btn */
}
.btn a {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
}
.btn + p {
  margin-top: 18px;
}
/* btn back */
.btn.back {
  width: 100px;
  margin: 30px auto 0;
}
.btn.back a {
  padding: 9px 18px 9px 18px;
  text-align: center;
  position: relative;
  color: black;
  background-color: orange;
  border-radius: 5px;
  font-size: 16px;
  /* left: 342px; */
}
.btn.back a::before {
  content: "";
  display: block;
  width: 8px;
  height: 13px;
  position: absolute;
  top: 12px;
}
.btn.back a:hover {
  border: solid 1px #d29d0a;
  background-color: orange;
  color: #fff;
}
.btn.back a::before {
  background-position: -8px 0;
  left: 171px;
}
.btn.back a:hover::before {
  background-position: -8px -13px;
}

.btn.common-b {
  margin-top: 30px;
  width: 300px;
}
.btn.common-b a {
  position: relative;
  height: 60px;
  padding: 19px 20px 0;
  background-color: #0aa0d2;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}
.btn.common-b a::after {
  content: "";
  position: absolute;
  display: block;
  width: 12px;
  height: 19px;
  /* background: */
}
.btn.common-b a {
  background-color: #0aa0d2;
}
.btn.common-b a::after {
  top: 21px;
  left: 268px;
}
.btn.common-b a:hover {
  background-color: #14aae5;
}

.btn.m20 {
  margin-top: 20px;
}
.btn.login-page {
  width: 200px;
  height: 40px;
  margin: 30px auto 0;
}
.btn.login-page a {
  position: relative;
  height: 40px;
  border: solid 1px #95989a;
  background: #fff;
  font-size: 16px;
  font-weight: bold;
  color: #6e6e70;
}
.btn.login-page a::before {
  content: "";
  display: block;
  width: 8px;
  height: 13px;
  position: absolute;
  top: 12px;
}
.btn.login-page a:hover {
  border: solid 1px #0aa0d2;
  background: #0aa0d2;
  color: #fff;
}

.btn.login-page a {
  padding: 7px 0 0 18px;
}
.btn.login-page a::before {
  background-position: -8px 0;
  left: 171px;
}
.btn.login-page a:hover::before {
  background-position: -8px -13px;
}


/* ====================================================================
modal
==================================================================== */
.inline-modal {
  display: none;
}

.dialog {
  background-color: #f0f3f6;
  padding: 30px;
  text-align: left;
}
.dialog p.lead {
  margin-top: 30px;
  padding: 30px 0;
  background-color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}
.dialog p.lead span.important {
  font-size: 18px;
  font-weight: bold;
  color: #14aae5;
}
.dialog p.lead span.important a {
  color: #14aae5;
}
.dialog h3 {
  height: 21px;
  padding-bottom: 30px;
  border-bottom: solid 2px #65696a;
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
}
.dialog#dialog-send-mail {
  width: 960px;
}
.dialog#dialog-send-mail h3 {
  background-size: auto 21px;
}


/* ====================================================================
	sp detail
==================================================================== */
@media screen and (max-width: 807px) {
  article {
    font-size: 3.3333333333vw;
  }
  article h2.ttl {
    position: relative;
    margin: 0% 4.1666666667% 0% 4.1666666667%;
    padding: 0% 0% 11.1111111111% 0%;
    background: none !important;
    font-size: 0;
  }
  article h2.ttl::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
  }
  article h2.ttl.pw-generator,
  article h2.ttl.pw-generator::after {
    padding: 11.6666666667vw 0vw 0vw 0vw;
    /* background-size: contain; */
  }

  article > p {
    margin: 0% 4.1666666667% 0% 4.1666666667%;
  }
  article > p.lead {
    margin: 3.75% 4.1666666667% 0% 4.1666666667%;
    font-size: 3.3333333333vw;
  }
  br.sp {
    display: inline;
  }
  .contents {
    margin: 5.5555555556% 4.1666666667% 0% 4.1666666667%;
    padding: 5.5555555556% 2.7777777778% 5.5555555556% 2.7777777778%;
  }
  .contents p {
    font-size: 3.3333333333vw;
  }
  .contents p + ul {
    margin: 2.7777777778vw 0vw 0vw 0vw;
  }

  .contents p + p {
    margin: 2.7777777778vw 0vw 0vw 0vw;
  }
  .contents p.lead {
    font-size: 3.3333333333vw;
  }
  .contents p.lead span {
    margin-top: 0;
    font-size: 2.5vw;
  }
  .contents .mail-address {
    padding: 0vw 0vw 4.1666666667vw 0vw;
    font-size: 3.3333333333vw;
  }

  h2 + .contents {
    margin: 5.5555555556% 4.1666666667% 0% 4.1666666667%;
  }

  dl.login-form {
    display: block;
    width: 100%;
    margin: 4.1666666667% 0% 0% 0%;
  }
  dl.login-form dt {
    width: 100%;
    padding: 0;
    font-size: 3.8888888889vw;
    display: flex;
  }
  dl.login-form dt ul {
    display: flex;
    align-items: center;
    margin: 0vw 0vw 0vw 2.5vw;
    padding-top: 0;
  }
  dl.login-form dd + dt {
    margin: 5% 0% 0% 0%;
  }
  dl.login-form dd + dt + dd {
    margin-top: 0;
  }
  dl.login-form dt + dd {
    margin: 2.7777777778% 0% 0% 0%;
  }
  dl.login-form dd {
    width: 100%;
    padding: 0;
  }
  dl.login-form dd input {
    width: 100%;
    height: 5.5555555556vw;
    text-indent: 1em;
    font-size: 2.5vw;
  }

  dl.login-form dd .error {
    font-size: 2.5vw;
  }

  dl.login-form:first-child {
    margin-top: 0;
  }


  /* ====================================================================
  btn
  ==================================================================== */
 .btn {
    padding: 0vw 1.3888888889vw 0vw 1.3888888889vw;
  }
  .btn {
    width: 100%;
    /* white btn */
  }
  .btn + p {
    margin: 5.5555555556vw 0vw 0vw 0vw;
  }
  .btn.common-b {
    margin: 5.5555555556% auto 0% auto;
    width: 69.4444444444vw;
  }
  .btn.common-b a {
    position: relative;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.1666666667vw 3.4722222222vw 4.1666666667vw 3.4722222222vw;
    font-size: 3.8888888889vw;
  }
  .btn.common-b a::after {
    position: static;
    top: auto;
    left: auto;
    width: 1.6666666667vw;
    height: 2.6388888889vw;
    background-size: 100%;
  }
  .btn.m20 {
    margin-top: 20px;
  }
  .btn.login-page {
    width: 200px;
    height: 40px;
    margin: 30px auto 0;
  }
  .btn.login-page a {
    position: relative;
    height: 40px;
    border: solid 1px #95989a;
    background: #fff;
    font-size: 16px;
    font-weight: bold;
    color: #6e6e70;
  }
  .btn.login-page a::before {
    content: "";
    display: block;
    width: 8px;
    height: 13px;
    position: absolute;
    top: 12px;
  }
  .btn.login-page a:hover {
    border: solid 1px #0aa0d2;
    background: #0aa0d2;
    color: #fff;
  }
  .btn.login-page {
    display: none;
  }


  /* ====================================================================
  modal
  ==================================================================== */
  .inline-modal {
    display: none;
  }

  .dialog {
    padding: 2.7777777778vw 0vw 2.7777777778vw 0vw;
    text-align: left;
  }
  .dialog p.lead {
    margin: 5.5555555556vw 5.5555555556vw 0vw 5.5555555556vw;
    padding: 6.25vw 2.7777777778vw 6.25vw 2.7777777778vw;
    font-size: 3.3333333333vw;
  }
  .dialog p.lead span.important {
    font-size: 3.3333333333vw;
  }
  .dialog h3 {
    height: 4.1666666667vw;
    padding: 0vw 0vw 5.5555555556vw 0vw;
    margin: 0vw 5.5555555556vw 0vw 5.5555555556vw;
  }
  .dialog#dialog-send-mail {
    width: 100%;
  }
  .dialog#dialog-send-mail h3 {
    background-size: auto 4.1vw;
  }

}

/* frame_sub */
/* ====================================================================
right
==================================================================== */
.right{
  background-color:#f0f3f6;
  color:#1e1e1e;
  }
  .right > article,
  .container.single > article{
  padding:40px 0;
  }


  .btn.return{display:none;}

  /* ====================================================================
    container resize
  ==================================================================== */

  @media screen and (max-width:807px){
    .right article{width:100%;}
    .container.single > article,
    .right > article{padding:5.5% 0;}
  }
  @media screen and (max-width:1147px) and (min-width:808px){
    .right article{width:530px;}
  }
  @media screen and (max-width:1579px) and (min-width:1148px){
    .right article{width:775px;}
  }
  @media screen and (min-width:1580px){
    .right article{width:1020px;}
  }



  /* ====================================================================
    sp
  ==================================================================== */
  @media screen and (max-width:807px){
  .btn.return{
  position:relative;
  display:block;
  width:35%;
  padding-top:35%;
  border:5px solid #f0f3f6;
  border-radius:50%;
  overflow:hidden;
  }
  .btn.return a{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  text-align:center;
  display:block;
  background-color:#0aa0d2;
  color:#fff;
  }



  }
