body {
	font-family: 'Varela Round', sans-serif;
}

.header{
    display: flex;
    text-align: center;
    width: 100%;
    height: 50px;
    padding-top: 30px;
    position: fixed;
}
/* ヘッダーのボタン設定 */
/* タイトル設定 */
.page-title{
    text-align: center;
    font-size: 2.0em;
    margin: 0 auto;
    /* margin-top: 10px; */
    /* width: 50%; */
    max-width: 500px;
    min-width: 100px;
    border: solid 3px #000;
}

.btn-back {
    display: inline-block;
    /* padding: 6px 12px; */
    width: 50%;
    max-width: 180px;
    min-width: 50px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #ffa500;
    border-radius: 5px;
    font-size: 16px;
    /* line-height: 52px; */
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #ffa500;
    /* position: absolute; */
    position: relative;
    /* right: 10px; */
    /* top: 5px; */
    overflow: hidden;
    z-index: 1;
}
.btn-back:after {
    width: 100%;
    height: 0;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #FFF;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: .2s;
    z-index: -1;
}
.btn-back:hover {
    color: #ffa500;
}
.btn-back:hover:after {
    height: 240%;
    opacity: 1;
}
.btn-back:active:after {
    height: 340%;
    opacity: 1;
}


.container {
    font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
    /* text-align: center; */
    /* padding-top: 40px; */
    /* width: 350px; */
    padding: 50px 0 50px;
	margin: 0 auto;

}

.pass-text {
    text-align: right;
    margin: 0 auto;
}

.input-group-addon {
	max-width: 42px;
	text-align: center;
	background: none;
	/* border-bottom: 1px solid #ced4da; */
	padding-right: 5px;
	border-radius: 0;
}

.form-group {
    margin: 0 auto;
    margin-bottom: 20px;
}

.form-control {
	min-height: 38px;
    /* max-width: 400px; */
	padding-left: 5px;
	box-shadow: none !important;
	border-width: 0 0 1px 0;
	border-radius: 0;
}

label {
	/* font-weight: normal; */
	font-size: 13px;
}

.fas {
	font-size: 21px;
	position: relative;
	top: 6px;
}

.btn-login {
    padding: 6px 12px;
}

.btn-open {
    /* padding: 0px; */
    display: inline-block;
    width: 50%;
    max-width: 180px;
    min-width: 100px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #9ec34b;
    border-radius: 5px;
    font-size: 16px;
    /* line-height: 52px; */
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #9ec34b;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn-open:after {
    width: 100%;
    height: 0;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    background: #FFF;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transition: .2s;
    z-index: -1;
}

.btn-open:hover {
    color: #9ec34b;
}

.btn-open:hover:after {
    height: 240%;
    opacity: 1;
}

.btn-open:active:after {
    height: 340%;
    opacity: 1;
}
