/* タイトル設定 */
.page-title{
    text-align: center;
    font-size: 2.0em;
    margin: 0 auto;
    /* margin-top: 10px; */
    /* width: 50%; */
    max-width: 500px;
    min-width: 100px;
    border: solid 3px #000;
}
/* ログアウトボタン設定 */
.btn-logout{
  display: inline-block;
  color: #0000ee;
  /* position: absolute; */
  /* right: 70px; */
  /* top: 15px; */
}
.btn-logout:hover{
  color: #87cefa;
}
/* ユーザーアイコン設定 */
.icon-user{
  display: inline-block;
  width: 40px;
  height: 40px;
  /* position: absolute; */
  /* right: 25px; */
  /* top: 5px; */
  border-color: black;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  -o-border-radius: 40px;
  -ms-border-radius: 40px;
  border-radius: 40px;
  margin: 0 auto;
  text-align: center;
  line-height: 40px;
  font-size: 200%;
  font-weight: 900;
  cursor: pointer;
  cursor: hand;
}
/* ユーザーメニューに関する部分-------------------------- */
.icon-user.is-open::after {
  content: "";
  width: 100vw;
  height: 100vh;
  cursor: default;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  transition: 3s;
  background-color: rgba(0, 0, 0, 0.5);
}

.icon-user.is-open + .dropdown-body {
  display: block;
  z-index: 5;
  transition: 3s;
}

.dropdown-body {
  display: none;
  width: 250px;
  height: 500px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  right: 10%;
  /*top: 100%;*/
  padding: 10px;
  border-radius: 8px;
  margin-top: 12px;
  opacity: 1;
  z-index: 5;
  box-shadow: 0 2px 6px 2px rgba(60,64,67,0.149), 0 1px 2px 0 rgba(60,64,67,0.302);
}

.dropdown-list{
  margin: 0;
  padding: 0;
  color: #FFF;
}

.dropdown-item{
  display: block;
}
.dropdown-username{
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: bolder;
  font-size: 120%;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
/* ----------------------------------------------- */
/*
.name-user {
  opacity: 0;
  /* position: absolute; */
  /* right: 25px; */
  /* top: 100%; 

  padding: 10px;
  border-radius: 8px;
  background-color: rgba(153, 153, 153, 0.50);
  max-width: calc(100%-200px);

  margin-top: 12px;
  font-size: 20px;
  transition: 1s;
}

.name-user:after {
  border-bottom: 12px solid rgba(153, 153, 153, 0.50);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  top: -12px;
  right: 5%;
  content: "";
  position: absolute;

}
span.icon-user:hover + p.name-user {
  opacity: 1;
  transition: .5s;
}
*/


.container {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  /* text-align: center; */
  margin: 0 auto;
  padding-top: 40px;
}

/* 登録ボタン設定 */
.btn-register {
  display: inline-block;
  width: 180px;
  height:40px;
  text-align: center;
  background-color: #ff6347;
  border-radius: 5px;
  font-size: 16px;
  line-height: 52px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #ff6347;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-register:after{
  width: 100%;
  height: 0;
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  background : #FFF;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transition: .2s;
  z-index: -1;
}
.btn-register:hover{
  color: #ff6347;
}
.btn-register:hover:after{
  height: 240%;
  opacity: 1;
}
.btn-register:active:after{
  height: 340%;
  opacity: 1;
}

/* 削除ボタン設定 */
.btn-delete {
  /* a タグ使う場合  */
  /* display: inline-block; */
  width: 180px;
  height:40px;
  text-align: center;
  background-color: #1e90ff;
  border-radius: 5px;
  font-size: 16px;
  line-height: 52px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #1e90ff;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn-delete:after{
  width: 100%;
  height: 0;
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  background : #FFF;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transition: .2s;
  z-index: -1;
}
.btn-delete:hover{
  color: #1e90ff;
}
.btn-delete:hover:after{
  height: 240%;
  opacity: 1;
}
.btn-delete:active:after{
  height: 340%;
  opacity: 1;
}
.book-table {
  position: relative;
  z-index: 2;
}

/* table{
  width:700px;
  margin-right: auto;
  margin-left : auto;
} */