h1{ 
    font-size:2.0em;
    text-align:center;
    max-width: 500px;  
    border: solid 3px #000; 
    }

    .h1_set{
    width:700px;
    margin-right: auto;
    margin-left : auto;
    }

    div.left {
        text-align: left; 
    }
    div.center {
        text-align: center; 
    }
    div.right {
        text-align: right; 
    }

    .container {
        font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
        text-align: center;
        padding-top: 40px;
      }
      .btn-open {
        display: inline-block;
        width: 180px;
        height:40px;
        text-align: center;
        background-color: #9ec34b;
        font-size: 16px;
        line-height: 52px;
        color: #FFF;
        text-decoration: none;
        font-weight: bold;
        border: 2px solid #9ec34b;
        position: relative;
        overflow: hidden;
        z-index: 1;
      }
      .btn-open:after{
        width: 100%;
        height: 0;
        content:"";
        position: absolute;
        top: 50%;
        left: 50%;
        background : #FFF;
        opacity: 0;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transition: .2s;
        z-index: -1;
      }
      .btn-open:hover{
        color: #9ec34b;
      }
      .btn-open:hover:after{
        height: 240%;
        opacity: 1;
      }
      .btn-open:active:after{
        height: 340%;
        opacity: 1;
      }

      table{
        width:700px;
        margin-right: auto;
        margin-left : auto;
      }
   
/*ここにログアウトボタンの作成*/
.btn-real {
    display: inline-block;
    text-decoration: none;
    color: rgba(152, 152, 152, 0.43);/*アイコン色*/
    width: 40px;
    height: 40px;
    line-height: 80px;
    font-size: 40px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: solid 2px #b5b5b5;
  }
  
  .btn-real:active {
    /*押したとき*/
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
    border-bottom: none;
  }




  /*タブ　　　https://yuntu-tek.com/tab-menu/*/
  * {
    box-sizing: border-box;
  }
      
  ul,
  li {
    padding: 0;
    margin: 0;
  }
  
  li {
    list-style: none;
  }
  
  .tab {
    width: auto;
    margin: auto;
  }
  
  .tab-menu {
    display: flex;
  }
  
  .tab-item {
    text-align: center;
    padding: 5px 0;
    cursor: pointer;
    
    /* widthを同じ比率で分けあう */
    flex-grow: 1;
  
    /* 下線以外をつける */
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
      
  .tab-item:not(:first-child) {
    border-left: none;
  }
  
  /* アクティブなタブはデザインを変えて選択中であることが解るようにする */
  .tab-item.active {
    background:#696969;
    color:black;
  }
  
  .tab-box {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid skyblue;
  }
      
  /* コンテンツは原則非表示 */
  .tab-content {
    display: none;
    font-size: 40px;
  }
  
  /* .showがついたコンテンツのみ表示 */
  .tab-content.show {
    display: block;
  }